<ion-header>
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/main-menu']" expand="block" color="danger">Sign In</ion-button>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
